.apartIndex{
  width: 1040px;
  min-height: 100%;
  margin-left: 240px;
  overflow: hidden;
  padding: 20px 10px 10px 10px;
  background: #fff;
}
.grid-content{
  min-height: 36px;
  line-height: 36px;
}
.text-center{
  text-align: center
}
.text-left{
  text-align: left
}
.padding-left{
  padding-left: 20px;
}
.form-head{
  border-bottom: 1px solid #dfe6ec;
  border-left: 1px solid #dfe6ec;
  border-top: 1px solid #dfe6ec;

}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
#chart {
  height: 400px;
}
.paddingTop {
  padding: 20px 0 0 0;
}
#selectOption {
  padding-left: 40px;
  position: relative;
  top: 48px;
  z-index: 1;
}
