<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimikongjian.dao.IActivity">
    <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="activityMapper" type="com.jimikongjian.models.Activity">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="userName" property="userName" />
        <result column="activityTag" property="activityTag" />
        <result column="houseId" property="houseId" jdbcType="INTEGER" />
        <result column="activityDate" property="activityDate" javaType="java.sql.Timestamp"/>
    </resultMap>

    <!-- 查询 -->
    <select id="getActivity" resultMap="activityMapper">
        SELECT * FROM `activity` WHERE apartmentId = #{apartmentId}
    </select>
    <!-- 所有房东  -->
    <select id="insertActivity" parameterType="com.jimikongjian.models.Activity">
        INSERT INTO `activity` (userName, activityTag, houseId, apartmentId) VALUES (#{userName}, #{activityTag}, #{houseId}, #{apartmentId})
    </select>
</mapper>